<h1 mat-dialog-title class="popup-title">
    {{formActive === 'signup'?'Sign Up':'Sign In'}} 
    <button mat-icon-button class="close-button" (click)="onClickClose()"><mat-icon>clear</mat-icon></button>
</h1>
<div mat-dialog-content class="dialog-content">
    <p class="form-message"> At first, to invite users or update node data you will need to signup or sign in </p>
    <div class="notice error-notice" *ngIf="!isLoading && isError"> {{errorMessage}} </div>
    <p align="center" class="notice" *ngIf="allowResetPassword" > You can try to <a [routerLink]="'/profile/resetPassword'"> Reset Password </a> </p>
    <div *ngIf="!isLoading">
        <div *ngIf="formActive === 'signup'; then signUpForm else signInForm"></div>
        <ng-template #signUpForm >
            <div class="form-sign-up">
                <form class="signup-form" [formGroup]="signUpFormGroup" >
                    <div class="form-fields-box">
                        <div class="form-field-contianer full-width">
                            <mat-form-field >
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email" />
                            </mat-form-field>
                        </div>
                        
                        <div class="form-field-contianer half-width">
                            <mat-form-field >
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" />
                            </mat-form-field>
                        </div>
                
                        
                        <div class="form-field-contianer half-width">
                            <mat-form-field >
                                <mat-label>Last Name</mat-label>
                                <input matInput  formControlName="lastName" />
                            </mat-form-field>
                        </div>
                
                        
                        <div class="form-field-contianer half-width">
                            <mat-form-field >
                                <mat-label>Password</mat-label>
                                <input matInput type="password"  formControlName="password" />
                            </mat-form-field>
                        </div>
                
                        
                        <div class="form-field-contianer half-width">
                            <mat-form-field >
                                <mat-label>Repeat Password</mat-label>
                                <input matInput type="password" formControlName="repeatPassword" />
                            </mat-form-field>
                        </div>
                    </div>
            
                    
                </form>
            </div>
        </ng-template>
        <ng-template #signInForm >
            <div class="form-sign-in"> 
                <form class="signup-form" [formGroup]="signInFormGroup">
                    <div class="form-fields-box">
                        <div class="form-field-contianer nofull-width">
                            <mat-form-field >
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email" />
                            </mat-form-field>
                        </div>
                                
                        <div class="form-field-contianer nofull-width">
                            <mat-form-field >
                                <mat-label>Password</mat-label>
                                <input matInput type="password"  formControlName="password" />
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="forget-password">
                        <a [routerLink]="'/profile/forgot-password'" (click)="onClose()"> Lost your password? </a>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
    <div *ngIf="isLoading">
        <div class="loading-data-section" >
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>
<div mat-dialog-actions class="mat-dialog-actions" direction="right">
    <div *ngIf="formActive !== 'signup'" class="form-actions">
        <button class="stack-button" color="primary" type="button" (click)="handleSubmitSiginIn()">Sign In</button>
        <span> or </span>
        <button class="stack-button" type="button" (click)="toggleForms()">Sign Up</button>
    </div>

    <div *ngIf="formActive === 'signup'" class="form-actions">
        <button class="stack-button" color="primary" (click)="handleSubmitSignUp()">Sign Up</button>
        <span> or </span>
        <button class="stack-button" type="button" (click)="toggleForms()">Sign In</button>
    </div>
</div>

