<div>
    <div class="form-header"> Sign Up </div>
    <form class="signup-form" [formGroup]="signUp">
        <div class="form-field-contianer">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
            </mat-form-field>
        </div>
        
        <div class="form-field-contianer">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" />
            </mat-form-field>
        </div>

        
        <div class="form-field-contianer">
            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input matInput  formControlName="lastName" />
            </mat-form-field>
        </div>

        
        <div class="form-field-contianer">
            <mat-form-field >
                <mat-label>Password</mat-label>
                <input matInput type="password"  formControlName="password" />
            </mat-form-field>
        </div>

        
        <div class="form-field-contianer">
            <mat-form-field >
                <mat-label>Repeat Password</mat-label>
                <input matInput type="password" formControlName="repeatPassword" />
            </mat-form-field>
        </div>

        <div class="form-actions">
            <button mat-raised-button color="primary" (click)="handleSubmitForm()">Submit</button>
        </div>
    </form>
</div>