.reset-from-container .mat-card{
    min-width: 375px;
    padding: 25px;
    max-width: 425px;
}
.reset-from-container .form-header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
.reset-from-container .mat-form-field{
    width: 100%;
}
.reset-from-container  .form-actions {
    text-align: center;
}