/front/node_modules
/front/dist/*
/back/node_modules
/front/package-lock.json
/back/package-lock.json
/node_modules
/back/testscripts
/back/public/domain-logos/*
/back/public/tools-logos/*
/back/public/uploads/*
/back/*.pem
/back/*.csr
/back/.env
/back/public/.well-known/*
.DS_Store