.stackWorkflow {
    position: relative;
    border-radius: 3px;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 20px 20px;
    width: 1170px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 660px;
    overflow: hidden;
    box-sizing: border-box;
}

.select-many-elements {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    background-color: rgba(50, 50, 50, .1);
    display: none;

    &.visible {
        display: block;
    }
}

.seletor-area-box {
    position: absolute;
    z-index: 149;
    border: solid 1px #0087e255;
    background-color: #0087e211;
    display: none;
}

.moved-selected-area {
    position: absolute;
    border: dashed 2px #15354b;
    background-color: #15354b21;
    z-index: 151;
    display: none;
    cursor: grab;
}

.toolNode{
    z-index: 100;
    padding: 5px;
    min-width: 80px;
    font-size: 0.9em;
    background: #fff;
    text-align: center;
    color: #0087e2;
    border-radius: 5px;
    border: 1px solid #1c57a4;
    opacity: 1;
    display: inline-block;
    position: absolute;
    cursor: move;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

    &.cdk-drag-dragging{
        z-index: 99;
    }

    &.selected {
        border-width: 2px;
        border-color: #00e792;
    }

    .icon-info-button{
        padding-left: 0px;
        padding-right: 0px;
        min-width: 25px;
        height: 22px;
        line-height: 22px;
        cursor: pointer;
        position: relative;
        z-index: 101;
        background: transparent;

        &:hover{
            background: transparent;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }

    &.domain-tool{
        font-size: 1.3em;
        color: #333333;
        font-weight: bold;
        border-width: 2px;
        padding: 10px;
    }

    .node-icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        float: left;
        margin-right: 5px;
    }

    .pointers{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &>div{
            position: absolute;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: rgba(20, 180, 60, 0.5);
            }
        
            /*&:before{
                content: '+';
                display: inline-block;
                color: honeydew;
                font-size: 9px;
                text-align: center;
                line-height: 9px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: green;
                opacity: 0;
            }

            &:hover:before{
                opacity: 1;
            }*/
        }

        .pointer-Left{
            padding-left: 10px;
            top: 0;
            left: -5px;
            height: 100%;
        }
        .pointer-Right{
            padding-left: 10px;
            top: 0;
            right: -5px;
            height: 100%;
        }
        .pointer-Top{ 
            top: -5px;
            left: 0;
            width: 100%;
            padding-top: 10px;
        }
        
        .pointer-Bottom{
            bottom: -5px;
            left: 0;
            width: 100%;
            padding-top: 10px;
        }
    }

    .hide-item-from-stack{
        position: absolute;
        top: -10px;
        border-radius: 50%;
        background-color: #fff;
        width: 20px;
        height: 20px;
        overflow: hidden;
        cursor: pointer;
        right: -10px;
        display: none;

        .mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            color: #A33;
        }
    }

    &:hover{
        .hide-item-from-stack{
            display: block;
        }

        .pointers>div:before{
            opacity: 1;
        }


    }
}

.for-svg-bg{
    position: absolute;
    top: -20px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

#paint{
    position: absolute;

    #arrow-marker{
        stroke: #1c57a4;
        fill: #1c57a4;
    }

    .line{
        stroke: #1c57a4;
        fill: #1c57a4;
    }
}