<div class="detect-subdomain">
    <div class="has-subdomain" *ngIf="hasSubdomain">
        <b>{{domain}}</b> has a subdomain <b>{{subdomain}}</b>. Please try submit domain without subdomain<br/><br/>
        click on button for loading tools for domain: <button mat-stroked-button color="primary" (click)="redirectToDomain(withoutSubdomain)"> {{withoutSubdomain}} </button>
        <br/>
    </div>
    <div class="not-subdomain" *ngIf="!hasSubdomain" >
        Please check if your domain name is correct 
    </div>
</div>
