<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a class="header-link app-logo-text" [routerLink]="'/profile'"> My Stacks </a>
      <div>
        
      </div>
      <span class="spacer"></span>
      <div class="profile-data"> 
        <a *ngIf="user.role === 0" class="header-link" mat-button [routerLink]="'/profile/users'">
          Users
        </a>
        <div class="divider-buttons"></div>
        <a class="header-link profile-link" [routerLink]="'/profile'">
            {{ user.firstName }} {{ user.lastName }}
            <mat-icon class="user-account-icon">account_circle</mat-icon>
        </a>
        <div class="divider-buttons"></div>
        <button class="logout-button" mat-button (click)="logout()"> Logout </button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>