.container-form {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;

    .form-field {
        box-sizing: border-box;
        padding: 0 10px;

        .mat-form-field {
            width: 100%;
        }
    }
}
.container-form .form-field{
    width: 50%;
}