.input-domain.hero-input .mat-form-field-outline{
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    color: #444444;
    font-size: 18px;

    .mat-input-element {
        color: #333333;
    }
}