.stackContainer{
    max-width: 1170px;
    margin: auto;
    position: relative;

    .bottom-actions{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 80px;
    }

    .total-spand-tools{
        margin-left: 10px;
        font-size: 1.1em;
        font-weight: bold;
        display: inline-block;

        .price-amount{
            color: #AA2211;
        }
    }

    .share-block{
        position: relative;
        text-align: center;
        display: inline-block;

        .title{
            position: absolute;
            top: -24px;
            font-weight: bold;
            font-size: 1.1em;
            display: inline-block;
            text-align: center;
            width: 100%;
            left: 0;
        }

        .social-icon{
            width: 22px;
            height: 22px;
        }
    }

    .stackActions{
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;


        &>div { 
            min-width: 150px;
            width: 50%;
        }

        &>div:nth-child(2) {
            text-align: right;
        }
    }

    .delete-arrow-action{
        background-color: #AA2211;
        color: #ffffff;
    }

    .item-categories{
        border-bottom: solid 1px #cccccc;
    }

    .item-description{
        font-size: 0.8em;
    }

    .loading-data-section{

       display: flex;
       justify-content: center;
       padding-top: 100px;
       padding-bottom: 50px;
       flex-wrap: wrap;

       .loading-message{
            margin-top: 40px;
            width: 100%;
            text-align: center;
            font-size: 1.2em;
       }
    }

    .error-loading-alert{
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 50px;
        flex-wrap: wrap;

        .mat-icon{
            font-size: 72px;
            width: 72px;
            height: 72px;
        }

        .error-message{
            margin-top: 30px;
            width: 100%;
            text-align: center;
        }
    }
    
}

.hideTools{
    display: none;
}

#share-image-canvas{
    display: none;
}

.waiting-process{
    position: absolute;
    left: -25px;
    top: 5px;
}

.toolsList{
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 0;
    left: 0;
    z-index: 105;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    height: 100vh;

    .tools-node-items{
        position: absolute;
        top: 60px;
        bottom: 0;
        width: 100%;
        overflow: auto;
    }

    .header-tools{
        border-bottom: solid 2px #cccccc;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .node-item{
        border-bottom: solid 1px #999999;
    }

    &.hide{
        display: none;
    }
}
