.stackContainer{
    max-width: 1170px;
    margin: auto;
    margin-top: 15px;
    position: relative;

    .mat-button-icon-info{
        width: 20px;
        height: 20px;
    }

    .bottom-actions{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 0px;
    }

    .total-spand-tools{
        margin-left: 10px;
        font-size: 1.1em;
        font-weight: bold;
        display: inline-block;

        .price-amount{
            color: #AA2211;
        }
    }

    

    .stackActions{
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;


        &>div { 
            min-width: 150px;
            width: 40%;
        }

        &>div:nth-child(2) {
            width: 20%;
            text-align: center;
        }

        &>div:nth-child(3) {
            text-align: right;
        }
    }

    .delete-arrow-action{
        background-color: #AA2211;
        color: #ffffff;
    }

    .item-categories{
        border-bottom: solid 1px #cccccc;
    }

    .item-description{
        font-size: 0.8em;
    }

    .loading-data-section{

       display: flex;
       justify-content: center;
       padding-top: 100px;
       padding-bottom: 50px;
       flex-wrap: wrap;

       .loading-message{
            margin-top: 40px;
            width: 100%;
            text-align: center;
            font-size: 1.2em;
       }
    }

    .error-loading-alert{
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 50px;
        flex-wrap: wrap;

        .mat-icon{
            font-size: 72px;
            width: 72px;
            height: 72px;
        }

        .error-message{
            margin-top: 30px;
            width: 100%;
            text-align: center;
        }
    }
    
}

.hideTools{
    display: none;
}

#share-image-canvas{
    display: none;
}

.stack-section-container .title-block-part {
    display: flex;
    align-items: center;
    font-size: 18px;
}


.stack-section-container .title-block-part .signin-buttons-box {
    margin-left: 20px;
}

.share-block{
    position: relative;
    text-align: center;
    display: flex;
    padding-left: 10px;
    float: right;
    align-items: center;
    margin-top: -5px;

    .title{
        font-size: 18px;
        display: inline-block;
        text-align: center;
        left: 0;
        font-weight: 300;
        margin-right: 10px;
        font-family: "proxima-nova", sans-serif;
    }

    .social-icon{
        width: 22px;
        height: 22px;
    }
}

.waiting-process{
    position: absolute;
    left: -20px;
    top: 5px;
}

.stack-builder-title {
    border-top: solid 1px rgb(220, 219, 220);
    border-bottom: solid 1px rgb(220, 219, 220);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.stack-builder-top-actions {
    border-bottom: solid 1px rgb(220, 219, 220);
    padding-left: 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;

    .stackActions {
        display: flex;
        justify-content: space-between;
    }

    .active-selection{
        color: #ff4100
    }
}

.stack-builder-bottom-actions {
    border-top: solid 1px rgb(220, 219, 220);
    border-bottom: solid 1px rgb(220, 219, 220);
    padding: 15px;

    .price-amount {
        color: rgb(255, 65, 0);
        font-weight: 600;
    }

    .total-spand-tools {
        font-size: 18px;
        line-height: 2em;
    }

    .bottom-actions{
        display: flex;
        justify-content: space-between;
    }
}

.toolsList{
    position: absolute;
    width: 100%;
    max-width: 400px;
    top: 0;
    left: 0;
    z-index: 105;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
    height: 100vh;

    .tools-node-items{
        position: absolute;
        top: 60px;
        bottom: 0;
        width: 100%;
        overflow: auto;
    }

    .header-tools{
        border-bottom: solid 2px #cccccc;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .node-item{
        border-bottom: solid 1px #999999;
    }

    &.hide{
        display: none;
    }
}
.resetPointsIcon {
    position: relative;
}
.resetPointsIcon mat-icon {
    rotate: 40deg; 
}
.resetPointsIcon span {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 26px;
    line-height: 1;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
}