<div class="main">
    <div class="mt-container"> 
      <h2> Build Your Stack </h2>  
      
      
      <div class="stackContainer">
        <div class="share-block" *ngIf="loaded">
          <span class="title"> Share Image </span>
          <div class="waiting-process" *ngIf="isWaiting"> <mat-spinner [diameter]="25"></mat-spinner> </div>
          <button mat-icon-button class="share-image-button" (click)="handleShare('facebook')"> <img class="social-icon" [src]="getAssetsFolder() + 'assets/images/facebook.svg'" /> </button>
          <button mat-icon-button class="share-image-button" (click)="handleShare('linkedin')"> <img class="social-icon" [src]="getAssetsFolder() + 'assets/images/linkedin.svg'" /> </button>
          <button mat-icon-button class="share-image-button" (click)="handleShare('twitter')"> <img class="social-icon" [src]="getAssetsFolder() + 'assets/images/twitter.svg'" /> </button>
        </div> 
        <div class="stackActions" *ngIf="loaded" >
          <div>
              <button mat-raised-button (click)="handleHideList()"> <mat-icon>list</mat-icon> All Tools </button>
              <span class="total-spand-tools" *ngIf="blueprint.spend"> Estimated Tool Spend: <span class="price-amount"> ${{ parsePrice(blueprint.spend) }} </span> </span>
          </div>
          <div>
            <button mat-raised-button color="primary" (click)="createNewStack()"> Create new stack </button>
          </div>
          <div>
            <button mat-raised-button *ngIf="selectedArrow" (click)="handleDeselectArrow()"> Cancel </button>
            <button mat-raised-button *ngIf="selectedArrow" class="delete-arrow-action" (click)="handleRemoveArrow()"> <mat-icon>clear</mat-icon>  Delete Arrow </button>
            
          </div>
        </div>
        <div class="loading-data-section" *ngIf="!loaded && !isError">
          <mat-spinner></mat-spinner>
          <p class="loading-message"> Data being processed please wait... </p>
        </div>
        <div *ngIf="isError" class="error-loading-alert">
          <mat-icon color="accent">warning</mat-icon>
          <p class="error-message"> {{errMessage}} </p>
          <button mat-button color="primary" (click)="moveToHome()"> Try Again </button>
        </div>
        <app-builder *ngIf="loaded" 
          [loadedNodes]="changedNodes$" 
          [loadedArrows]="changedArrows$"
          (positionNodeChanged)="updatedNodePosiotion($event)"
          (arrowAdded)="handleAddArrow($event)"
          (arrowUpdated)="handleUpdateArrow($event)"
          (hideNode)="handleHideNode($event)"
          (removeArrows)="handleRemoveArrows($event)"
          (selectArrow)="handleSlectArrow($event)"
          ></app-builder>

        <app-tools-list  [ngClass]="{'hideTools': hideList}" *ngIf="loaded" 
          [loadedNodes]="changedNodes$" 
          [loadedCategories]="changedCategories$"
          (toogleVisibilityNode)="handleHideNodeItem($event)"
          (closeTools)="handleCloseTools()"
          ></app-tools-list>

        <div class="bottom-actions" *ngIf="loaded" > 
          <button mat-raised-button class="delete-arrow-action" (click)="removeStack()"> Delete stack </button>
        </div>
      </div>
      <canvas id="share-image-canvas"></canvas>
    </div>
</div>
