<div class="main">
    <div class="mt-container"> 
      <h2> Build Your Stack </h2>   

      <div class="stackContainer">
        <div class="stackActions" *ngIf="loaded" >
          <button mat-raised-button (click)="handleHideList()"> <mat-icon>list</mat-icon> All Tools </button>
        </div>
        <div class="loading-data-section" *ngIf="!loaded && !isError">
          <mat-spinner></mat-spinner>
          <p class="loading-message"> Data being processed please wait... </p>
        </div>
        <div *ngIf="isError" class="error-loading-alert">
          <mat-icon color="accent">warning</mat-icon>
          <p class="error-message"> {{errMessage}} </p>
          <button mat-button color="primary" (click)="moveToHome()"> Try Again </button>
        </div>
        <app-builder *ngIf="loaded" 
          [loadedNodes]="changedNodes$" 
          [loadedArrows]="changedArrows$"
          (positionNodeChanged)="updatedNodePosiotion($event)"
          (arrowAdded)="handleAddArrow($event)"
          (arrowUpdated)="handleUpdateArrow($event)"
          (hideNode)="handleHideNode($event)"></app-builder>

        <app-tools-list  [ngClass]="{'hideTools': hideList}" *ngIf="loaded" 
          [loadedNodes]="changedNodes$" 
          [loadedCategories]="changedCategories$"
          (toogleVisibilityNode)="handleHideNodeItem($event)"
          (closeTools)="handleCloseTools()"
          ></app-tools-list>
      </div>
      <div [ngClass]="{'toolsList': true, 'hide': true}"> 
        <div class="header-tools"> 
          <div class="title"> </div>
          <button mat-icon-button (click)="handleHideList()"><mat-icon>clear</mat-icon></button>
        </div>
        <div class="tools-node-items">
          <div class="node-item" *ngFor="let nodeId of nodesList"> 
            <mat-card>
              <div class="item-categories"> <b>Categories: </b>  {{ nodes[nodeId].tool && nodes[nodeId].tool.categories?(nodes[nodeId].tool.categories.join(',')):''  }} </div>
              <p class="item-name"> <b>Name: </b> {{ nodes[nodeId].tool?.name }} </p>
              <p class="item-description"> {{ nodes[nodeId].tool?.description }} </p>
              <div class="actions">
                <mat-slide-toggle (change)="handleHideNodeItem(nodes[nodeId])"
                    class="example-margin"
                    [checked]="nodes[nodeId].hide"
                    [color]="'accent'">
                    Hide
                </mat-slide-toggle>
              </div>           
            </mat-card>
          </div>
        </div>
      </div>
    </div>
</div>
