.stackContainer{
    max-width: 1170px;
    margin: auto;

    .stackActions{
        min-height: 100px;
    }

    .stackWorkflow {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
        border-radius: 3px;
        -webkit-transition: .3s;
        transition: .3s;
        padding: 20px 16px;
        margin-bottom: 20px;
        background-color: #fff;
        height: 420px;
    }

    .toolNode{
        z-index: 100;
        padding: 8px;
        font-size: 1em;
        background: #fff;
        color: #0087e2;
        border-radius: 5px;
        border: 1px solid #1c57a4;
        opacity: 1;
        display: inline-block;
        position: absolute;
        cursor: default;
    }
}