<h1 mat-dialog-title> Add tool  <button mat-icon-button class="close-button" [mat-dialog-close]><mat-icon>clear</mat-icon></button> </h1>
<div mat-dialog-content>
  <div class="search-from">
    <mat-form-field class="search-full-width">
        <mat-label>Tool name</mat-label>
        <input type="text" matInput placeholder="Input more 3 symbol for start search" [(ngModel)]="toolSearchName" (input)="handleInputText($event)" cdkFocusInitial>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="spinner-wrapper"><mat-progress-spinner *ngIf="showSpinner" mode="indeterminate"></mat-progress-spinner></div>
  <div class="list-of-tools" [class.transparent-list]="transparentListOfTools"> 
    <mat-list>
        <mat-list-item *ngFor="let toolItem of tools" [ngClass]="{'selected': isToolSlected(toolItem.id), 'is-already-in-stack': !!toolItem.nodeId}"  (click)="handleSelectTool(toolItem)">
            <mat-icon mat-list-icon><img class="logo-tool"
                [src]="
                    toolItem.tag === 'customApp'
                      ? getAssetsFolder() + 'assets/images/custom-app.png'
                      : toolItem.logo
                        ? processImageSrc(toolItem.logo)
                        : getAssetsFolder() + 'assets/images/layers.png'
                  "></mat-icon>
            <div mat-line>{{toolItem.name}}</div>
            <div mat-line>{{toolItem.categories?.join(', ')}}</div>
        </mat-list-item>
    </mat-list>
    <div *ngIf="tools.length === 0 && toolsDataLoaded" class="create-custom-tool">
      <button class="stack-button" color="primary" (click)="handleCreateNewTool()"> <mat-icon>add</mat-icon> Create New Tool</button> 
    </div>
  </div>
</div>
<div mat-dialog-actions direction="right">
  <button class="stack-button position-left" color="primary" (click)="handleCreateNewTool()"> Create New Tool <mat-icon>add</mat-icon> </button> 
  <button class="stack-button" (click)="onNoClick()"> <mat-icon>clear</mat-icon> Cancel</button> 
  <div class="divider-buttons"></div>
  <button class="stack-button" color="primary" [mat-dialog-close]="selected" [disabled]="!isSelectedAnyTool()"> <mat-icon>add</mat-icon> Add Tool </button>
</div>

