.search-full-width{
    width: 100%;
}
.search-from {
    margin-left: auto;
    margin-right: auto;
}
.spinner-wrapper {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    top: 50%;
}
.list-of-tools{
    min-height: 220px;
    max-height: 480px;
    overflow: auto;

    &.transparent-list {
        opacity: .2;
    }

    .logo-tool{
        max-width: 100%;
        max-height: 100%;
    }

    .mat-list-item {
        cursor: pointer;

        &.is-already-in-stack{
            background-color: rgba(255, 65, 0, 0.1);
        }

        &.selected{
            background-color: rgba(255, 65, 0, 0.5);
        }
    }
}
.create-custom-tool {
    text-align: center;
}

.mat-dialog-actions {
    position: relative;
}
.stack-button.position-left {
    position: absolute;
    left: 0;
}
