.search-full-width{
    width: 100%;
}
.search-from {
    margin-left: auto;
    margin-right: auto;
}
.list-of-tools{
    min-height: 220px;
    max-height: 480px;
    overflow: auto;

    .logo-tool{
        max-width: 100%;
        max-height: 100%;
    }

    .mat-list-item {
        cursor: pointer;

        &.is-already-in-stack{
            background-color: rgba(255, 65, 0, 0.1);
        }

        &.selected{
            background-color: rgba(255, 65, 0, 0.5);
        }
    }
}
