.mat-table.users-table{
    width: 100%;
}
.mt-container{
    padding: 0;
}
.my-stack-container {
    h2{
        text-align: left;
        padding: 15px 24px;
        border-bottom: solid 1px rgb(220, 219, 220);
    }
}
.divider-buttons {
    margin-top: -5px;
    vertical-align: middle;
}