<div class="main">
    <app-header [user]="user"></app-header>
    <div class="mt-container"> 
        <div class="my-stack-container">
            <h2> Users </h2>
            <table mat-table [dataSource]="users" class="users-table">
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let item"> {{ item.email }} </td>
                </ng-container>
                
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let item"> {{ item.firstName }} </td>
                </ng-container>
                
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let item"> {{ item.lastName }} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let item"> {{ getRoleName(item.role) }} </td>
                </ng-container>

                <ng-container matColumnDef="verified">
                    <th mat-header-cell *matHeaderCellDef> Verified </th>
                    <td mat-cell *matCellDef="let item"> {{ item.verified?'Yes':'No' }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let item"> 
                        <button mat-raised-button color="primary" (click)="handleClickEdit(item)"> Edit </button> &nbsp;
                        <button mat-raised-button color="primary" (click)="handleClickDelete(item)"> Delete </button> &nbsp;
                        <button *ngIf="item.id !== user._id" mat-raised-button color="accent" (click)="handleShowUsers(item)"> Invite </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="total"
              [pageSize]="limit" (page)="handlePage($event)">
            </mat-paginator>
        </div>
    </div>
</div>
