.node-icon{
    height: 50px;
    vertical-align: middle;
}
.info-paragraph{
    padding: 10px 0;
    display: flex;
    font-size: 14px;

    .data {
        input{
            padding: 0;
            border: none;
        }

        .mat-form-field.full-width {
            width: 100%;
        }
    }

    .title{
        width: 140px;
        font-weight: 600;
    }

    .data {
        width: 90%;
    }
}
.mat-dialog-actions{
    justify-content: flex-end;
}