.node-icon{
    height: 50px;
    vertical-align: middle;
}
.info-paragraph{
    padding: 10px 0;
    display: flex;

    .title{
        width: 120px;
        font-weight: 600;
    }

    .data {
        width: 90%;
    }
}