<div class="main">
    
    <div class="app-container">
      
      <div class="stack-section-container">
          <app-header [user]="user"></app-header>
          <div class="mt-container"> 
              <div class="my-stack-container">
                  <div class="stack-container-header">
                    <h2> Tools </h2>
                    <mat-form-field appearance="none" class="search-full-width">
                        <mat-label>Search by Tool name</mat-label>
                        <input type="text" matInput placeholder="" [(ngModel)]="toolSearchName" (input)="handleInputText($event)" cdkFocusInitial>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                  </div>
                  <table mat-table [dataSource]="tools" class="tools-table">
                      <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell class="tool-name" *matCellDef="let item"> {{ item.name }} </td>
                      </ng-container>                    

                      <ng-container matColumnDef="logo">
                        <th mat-header-cell *matHeaderCellDef> Logo </th>
                        <td mat-cell *matCellDef="let item">
                            <mat-icon mat-list-icon><img class="logo-tool"
                            [src]="processImageSrc(item.logo)"></mat-icon>
                        </td>
                      </ng-container> 

                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell class="description" *matCellDef="let item"> {{ item.description }} </td>
                      </ng-container>                        

                      <ng-container matColumnDef="hidden">
                        <th mat-header-cell *matHeaderCellDef> Hidden Globally </th>
                        <td mat-cell *matCellDef="let item">                           
                            <div class="actions">
                                <mat-icon class="visible visibility-toggle" *ngIf="item.hidden === true" (click)="handleShowHideGlobally(item)">restore</mat-icon>
                                <mat-icon class="hidden visibility-toggle" *ngIf="item.hidden === false || item.hidden === undefined" (click)="handleShowHideGlobally(item)">block</mat-icon>
                            </div>                             
                        </td>
                      </ng-container> 

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
  
                  <mat-paginator #paginator [length]="total"
                  [pageSize]="limit" (page)="handlePage($event)">
                  </mat-paginator>
              </div>
          </div>
      </div>
    </div>
  </div>
  