html, body{
    font-family: $font-family;
    font-size: $font-size;
    margin: 0;
    padding: 0;
    color: $text-color;
}

.mt-container{
    padding: 30px 0px;
}
.mt-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.profile-data .mat-button {
    font-size: 18px;
    font-weight: 400;
}

.profile-data .logout-button {
    font-weight: 600;
}

.header-link.app-logo-text {
    font-weight: 800;
}

.mt-full-screen {
  width: 100%;
  height: 75vh;
}

.mt-container h2{
    text-align: center;
    font-size: $font-h2-size;
    font-weight: 400;
}

.mat-button-wrapper img {
    max-width: 100%;
}

.mat-button-wrapper img {
    width: 22px;
}

.dot-drag-arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(30, 180, 80, 1.0);
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -5px;
    z-index: 120;
    user-select: none;
    cursor: pointer;
}

.stack-section-container {
    overflow: hidden;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;

    h2 {
        margin: 0;
        font-weight: 300;
        font-size: 22px;
    }
}

.app-container .mat-icon-button{
    background: transparent;
}

.mat-toolbar.mat-primary{
    background: #eaeaea;
    color: #333333;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: space-between;
}
.mat-icon.user-account-icon{
    width: 36px;
    height: 36px;
    font-size: 34px;
    vertical-align: middle;
    margin-left: 10px;
}
.loading-page-data{
    margin-top: 50px;
    margin-bottom: 50px;
}

.notice{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 800;

    &.error-notice{
        color: #ff1111;
    }
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
    background-color: #ff4100;
}

.mt-section-container {
    max-width: $laptop-M-w;
    margin: auto;
}

.app-container{
    max-width: $laptop-M-w;
    padding: 0px 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}