.mobile-screen-blocker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d1e21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;       
    z-index: 1000;

    .message-blocker {
        font-size: 2em;
        text-align: center;
        padding: 15px;
        line-height: 1.5em; 
    }
}
