<div class="main">
    <section class="mt-full-screen mt-flex">
        <div class="mt-container">
            <div class="reset-from-container">
                <mat-card *ngIf="!isLoading">
                    <div class="form-header"> Reset Password </div>
                    <div *ngIf="isError" class="notice error-notice"> {{errorMessage}} </div>
                    <div *ngIf="isSuccess" class="notice success-notice"> Password was changed. <a [routerLink]="'/profile/signin'"> Sign in </a> </div>
                    <div class="reset-password-form">
                        <div class="field-box">
                            <mat-form-field >
                                <mat-label>Password</mat-label>
                                <input matInput type="password" [formControl]="password" />
                            </mat-form-field>
                        </div>
                        <div class="field-box">
                            <mat-form-field >
                                <mat-label>Confirm Password</mat-label>
                                <input matInput type="password" [formControl]="cofirmPassword" />
                            </mat-form-field>
                        </div>
                        <div class="form-actions">
                            <button mat-raised-button color="primary" (click)="handleSubmitForm()">Submit</button>
                        </div>
                    </div>
                </mat-card>
                <div class="loading-data-section" *ngIf="isLoading">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
    </section>
</div>
