

.tools-list-categoreies {
    top: 120px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    
    padding: 20px;
    z-index: 200;

    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        .mat-icon{
            font-size: 36px;
            width: 36px;
            height: 36px;
        }
    }
}

.categories-list{
    padding: 0 5px;
    padding-bottom: 5px;
    overflow: auto;
}

.nodes-holder{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .mat-form-field {
        max-width: 100%;
    }

    .node-edit-actions{
        margin-top: -10px;
    }
    

    .node-items {
        padding: 5px 20px;
        border: solid 1px #999999;
        margin: 4px 3px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;

        .tool-name{ 
            width: 30%;
        }

        .tool-start-date, .tool-end-date, .tool-cost, .tool-owner{
            width: 15%;
        }

        .node-icon{
            width: 20px;
            height: 20px;
            margin-right: 5px;
            vertical-align: middle;
        }
        
        .actions{    
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
            box-sizing: border-box;
            line-height: 16px;
            margin-left: 10px;

            .visible{
                color: #306ebe;
            }

            .hidden{
                color: #a04d42;
            }
        }
    }

    .icon-info-button{
        padding-left: 0px;
        padding-right: 0px;
        min-width: 25px;
        height: 22px;
        line-height: 22px;
        cursor: pointer;
        position: relative;
        z-index: 101;
        background: transparent;

        &:hover{
            background: transparent;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }   
}


.total-stack{
    text-align: center;
    font-weight: 600;
    
    .red {
        color: #A33;
    }
}

.edit-field-button{
    &.mat-icon-button{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    &.cancel {
        background-color: #cccccc;
    }

    &.confirm {
        background-color: #ff4100;
        color: #ffffff;
    }

    .mat-icon{
        font-size: 14px;
    }
}

.category-total-spand{
    text-align: right;
    font-weight: 600;
    margin-right: 20px;
    
    .red {
        color: #A33;
    }
}