.signup-from-container{
    max-width: 425px;
    margin: auto;

    .mat-card{
        padding: 50px 35px;
    }
}
.loading-data-section{
    display: flex;
    justify-content: center;
}
.mt-container{
    max-width: 1200px;
    width: 100%;
}