.input-domain{
    min-width: 320px;

    .mat-input-element{
        border: none;
    }

    mat-label{
        padding: 0;
        margin: 0;
    }
}
.item-of-blueprint{
    margin-bottom: 30px;
}
.stack-info .domain-title{
    font-size: 2em;
    line-height: 2.5em;
}

.chip-list-domain-title{
    display: inline-block;
    margin-left: 30px;
}

.box-show-stack-button{
    text-align: center;
    padding-bottom: 15px;
}

.list-of-blueprints {
    padding-top: 15px;
}

.item-content {
    display: flex;
}
.great-spacer{
    padding: 20px 0;
}
.item-content .icon-of-domain{
    padding-right: 50px;
}

.form-full-width-field{
    text-align: center;
}
.submit-domain{
    text-align: center;
}