.input-domain{
    min-width: 320px;

    .mat-input-element{
        border: none;
    }

    mat-label{
        padding: 0;
        margin: 0;
    }
}
.mt-container {
    padding: 0;

    h2 {
        padding: 15px 22px;
        border-bottom: solid 1px rgb(220, 219, 220);
        text-align: left;

        .box-show-stack-button {
            float: right;
        }
    }
}
.item-of-blueprint{
    margin-bottom: 30px;
}
.stack-info .domain-title{
    font-size: 2em;
    line-height: 2.5em;
}

.chip-list-domain-title{
    display: inline-block;
    margin-left: 30px;
}

.box-show-stack-button{
    text-align: center;
    padding-bottom: 15px;
}

.list-of-blueprints {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-of-shared-blueprints{
    padding-left: 15px;
    padding-right: 15px;
}

.divider-buttons {
    margin-top: -5px;
    vertical-align: middle;
}

.item-content {
    display: flex;
}
.great-spacer{
    padding: 20px 0;
}
.item-content .icon-of-domain{
    padding-right: 50px;
}

.form-full-width-field{
    text-align: center;
}
.submit-domain{
    text-align: center;
}
.form-domain{
    border-bottom: solid 1px rgb(220, 219, 220);
    padding-bottom: 15px;

    h3{
        text-align: center;
        font-size: 24px;
        padding-top: 15px;
    }
}