<h1 mat-dialog-title>Estimated Monthly Tool Spend  <button mat-icon-button class="close-button" [mat-dialog-close]><mat-icon>clear</mat-icon></button> </h1>
<div mat-dialog-content>
  <p>Thanks for building your {{data.domain}} stack! It is important to know about all the tools your company has, pays for and is sharing data with. Not only do these tools get expensive, but they store your customer data and this exposes you to risk.<br/>
<br/>
    Find out how you can cut costs, make more money and make your stack more secure with a short stack audit call. When you complete your call you will have the facts you need to better manage your marketing technology.<br/>
</p>
</div>
<div mat-dialog-actions direction="right">
  <button class="stack-button" (click)="onNoClick()" >Ok</button> 
  <div class="divider-buttons"></div>
  <a class="stack-button" target="blank" color="primary" href="https://effinamazing.com/blog/schedule-your-free-consultation/" cdkFocusInitial> Schedule a free stack audit call now </a>
</div>
