<div class="main">
    <section class="hero-section">
        <div class="mt-section-container">
            <div class="row"> 
                <div class="col-md-5">
                    <h2 class="page-title"> {{ outsideData ? outsideData.title : 'Build Your Perfect \n Marketing Technology Stack' }} </h2>
                    <p  id="form_domain_send"  class="page-subtitle"> {{ outsideData ? outsideData.subtitle : 
                        'Easily visualize and find new ways to optimize your entire marketing stack all in one place' }}</p>
                    <div class="form-domain">
                        <div class="field-box">
                            <input class="field-domain-input" 
                                placeholder="Enter Domain" 
                                [formControl]="domain" 
                                required 
                                (input)="handleInput($event)" 
                                (keyup.enter)="submitDomain()">
                            <span class="error field-error" *ngIf="hasError"> Please enter a valid domain </span>
                        </div>
                        <div class="button-box">
                            <button class="riased-button-doamin" (click)="submitDomain()">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 hero-image-box">
                    <img class="hero-image" [src]="getHeroImageUrl()" />
                </div>
            </div>
        </div>
    </section>
    <section class="abilities-tool">
        <div class="mt-section-container">
            <div class="row">
                <div *ngFor="let item of defaultRepeater" class="col-md-3">
                    <div class="tool-ability-container">
                        <img class="icon" [src]="item.icon" />
                        <p class="ability-title">  {{item.title}} </p>
                        <p class="ability-description"> {{ item.description }} </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="ng_insert_content" class="page-content">
        
    </div>
    <section class="footer-form-section">
        <div class="mt-section-container">
            <div class="row">
                <div class="mt-footer-content">
                    <p class="footer-title"> {{ outsideData ? outsideData.footerTitle : 'Access your stack for free!' }} </p>
                    <div class="link-box">
                        <a href="#form_domain_send" class="button link-to-form"> {{  outsideData ? outsideData.formLinkTitle : 'Send Domain' }} </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="mt-flex">
        <div class="mt-container">

            <div class="form-doamin">

                <h2> Input Domain </h2>
                <div>
                    <mat-form-field appearance="outline" class="input-domain">
                        <mat-label>Domain name:</mat-label>
                        <input matInput placeholder="" [formControl]="domain" required (input)="handleInput($event)" (keyup.enter)="submitDomain()">
                        <mat-error *ngIf="domain.invalid"> Please enter a valid domain </mat-error>
                    </mat-form-field>
                </div>
                <div class="submit-domain">
                    <button mat-raised-button color="primary" (click)="submitDomain()">Submit</button>
                </div>
            </div>
        </div>
    </section> -->
</div>
