<div class="main">
    <section class="mt-full-screen mt-flex">
        <div class="mt-container">
            <div class="form-doamin">

                <h2> Input Domain </h2>
                <div>
                    <mat-form-field appearance="outline" class="input-domain">
                        <mat-label>Domain name</mat-label>
                        <input matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
                <div class="submit-domain">
                    <button mat-raised-button color="primary">Submit</button>
                </div>
            </div>
        </div>
    </section>
</div>
